<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>test.html</h1>
<p th:href="${firstname}" />
<p th:href="${lastname}" />


</body>
</html>