body, html {
    box-sizing: border-box;
    background: white;
    margin: 0;
    padding: 0;
}

.main-section {
    background: rgb(250, 250, 250);
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 20px;
}

.heading {
    text-align: center;
    margin-bottom: 30px;
}