<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link th:rel="stylesheet" th:href="@{/css/style.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Customer Management</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Create Customer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Impressum</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<main class="main-section">
    <h1 class="heading">Customers</h1>
    <!-- Table to show all customers -->

    <a th:href="@{/users/createUser}"><button>Create User</button></a>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Firstname</th>
            <th scope="col">Lastname</th>
            <th scope="col">Email</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody th:each="customer: ${customerList}">
            <td th:text="${customer.id}"></td>
            <td th:text="${customer.firstname}"></td>
            <td th:text="${customer.lastname}"></td>
            <td th:text="${customer.email}"></td>
            <td><button>Delete</button> <button>Update</button></td>
            <!-- TODO -->
            <!--<td><a th:href="/deleteUser"><button>Delete</button></a></td>-->
        </tbody>
    </table>
</main>

</body>
</html>